name: Push to Codeberg

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout GitHub repository
      uses: actions/checkout@v4

    - name: Configure Git identity
      run: |
        git config --global user.name "lanticy"
        git config --global user.email "lanticy@noreply.codeberg.org"

    - name: Add Codeberg remote
      run: |
        git remote add codeberg "https://${{ secrets.CODEBERG_USERNAME }}:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/${{ secrets.CODEBERG_USERNAME }}/${{ secrets.CODEBERG_REPO }}.git"

    - name: Push to Codeberg
      run: |
        git push codeberg HEAD:main --force
